*{margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* shared styles */

.display-flex{
    display: flex;
    
}

main{
    background-image: url(../assets/bg.png);

}

.btn-primary{
    color: #ffffff;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;

}
marquee{
    color: white;
    background-color: #0E0D1B;
    font-weight: 700;
    line-height: 3.75rem;
    letter-spacing: 0%;
    text-align: center;
    font-size: 3rem;
}
h1{
   
font-size: 3.5rem;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
h2{
      color: #000000;
      font-weight: 700;
      line-height: 57.5px;
      letter-spacing: 0%;
      text-align: center;
      font-size: 3rem;
}
h4{
    color: white;
}
p{
    margin: 1.5rem 0;
    color: #808080;
}
/* nav style */
.logo, .foot-logo {
    max-width: 3.875rem;
    max-height: 3.875rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #102b2a;
    padding: 10px 140px;
    
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}


.navbar1{
    text-decoration: none;
    color: orange;
}
.navbar2{
    text-decoration: none;
    color: skyblue;
}
.navbar3{
    text-decoration: none;
    color: #b68833;
}
.navbar4{
    text-decoration: none;
    color: #5D58EF;
}


.nav-links a:hover {
    color: green;
}

.nav-btn{
    color: white;
    background-color: purple;
    border-radius: 12px;
    padding: 10px 20px;
    border: none;
}

.hamburger {
    display: none;
    font-size: 25px;
    cursor: pointer;
}

/* Mobile styles */
@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        border-radius: 5px;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #444;
    }

    .nav-links li:last-child {
        border-bottom: none;
    }

    .hamburger {
        display: block;
    }
}

/* hero style */
.hero{
    padding: 80px 140px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.Empowering{
    color: orange;
}
.towards-vision{
    color: #01acfd;
}
/* Mobile styles */
@media screen and (max-width: 576px) {
    .hero{
      flex-direction: column-reverse;
      
    }
    .title{
        
    }
  
  }

/* curriculum style */
.curriculum{
    padding: 80px 140px;
    align-items: center;
    justify-items: center;
}
.cart{
    margin-top: 80px;
    justify-content: space-between;
    gap: 28px;
    margin-bottom: 80px;
}
.cart1{
    background: linear-gradient(to bottom, #3519cf, #ffffff);
    border-radius: 20px;
    align-items: center;
    justify-items: center;
    padding: 60px 40px;
    border: 1px solid #ddd;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.cart-btn1{
    color: green;
    border: none;
    background-color: #ccf175;
    border-radius: 8px;
    font-weight: 700;
    padding: 5px;
}
.cart-btn2{
    color: orange;
    border: none;
    background-color: #ccf175;
    border-radius: 8px;
    font-weight: 700;
    padding: 5px;
}
.cart-btn3{
    color: purple;
    border: none;
    background-color: #ccf175;
    border-radius: 8px;
    font-weight: 700;
    padding: 5px;
}
.cart2{
    background: linear-gradient(to bottom, #cf1956, #ffffff);
    border-radius: 20px;
    align-items: center;
    justify-items: center;
    padding: 60px 40px;
    border: 1px solid #ddd;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.cart3{
    background: linear-gradient(to bottom, #19cf50, #ffffff);
    border-radius: 20px;
    align-items: center;
    justify-items: center;
    padding: 60px 40px;
    border: 1px solid #ddd;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-special1{
    color: white;
    background-color: orange;
    border-radius: 30px;
    padding: 10px;
    border: none;
    height: 60px;
    width: 60px;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;

}
.btn-special2{
    color: white;
    background-color: orange;
    border-radius: 50px;
    padding: 10px;
    border: none;
    height: 60px;
    width: 60px;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;

}
/* Mobile styles */
@media screen and (max-width: 576px) {
    .curriculum, .cart{
      flex-direction:column;
      
    }
  
  }

/* stories style  */

.stories{
    padding: 80px 140px;
    background: linear-gradient(to top, hsla(342, 98%, 50%, 0.247), hsla(0, 0%, 100%, 0));
}
.stories-containier{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    gap: 10px;

    
}
.stories-containier > div {
  flex: 1;  
}
.cart-primary{
    background: white;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: 100%;
    border-radius: 10px;
    
}

.cart-secondary{
    display: flex;
    flex-direction: row;
    max-width: 50%;
    height: 100%;
    gap: 5px;
}
.cart-secondary > div{
    flex: 1;
}

.cart-secondary1{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: 50%;
    gap: 30px;
}
.cart-secondary2{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: 50%;
    gap: 30px;
}

.stories-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.stories-cart1{
    display: flex;
    flex-direction: column;
    height: 630px;
}
.stories-title1{
    color: rgb(0, 0, 0);

font-size: 24px;
font-weight: 700;
line-height: 38.35px;
letter-spacing: 0%;
text-align: left;
padding: 1.25rem 2rem ;
width: 402.49px;
height: 69.98px;
}
.stories-description1{
    padding: 2rem;
    color: #666666;
}

.stories-title{
    padding: 2.5rem;
    
font-size: 15.34px;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;


}
.stories-cart2{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
}
.stories-cart3{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
}
.stories-cart4{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
}
.stories-cart5{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
}
.btn-stories{
    color: white;
    padding: 10px 30px;
    margin-top: -15px;
    border-radius: 47px;
    background-color: #95B226;
    width: 175px;
    border: none;
}
/* footer style */
footer{
    justify-content: space-between;
    background-color: #102b2a;
    padding: 80px 140px;
}


.foot-item{
   list-style-type: none; 
   padding: 0;
   
}
.foot-text{
    color: white;
}
.li{
    color: white;
    margin-top: 1.25rem;
}
.foot-logo-container, .nav-logo{
    justify-content: left;
    align-items: center;
    

}
.social-icon{
    margin-top: 1.25rem;
}
/* Mobile styles */
@media screen and (max-width: 576px) {
  .footer{
    flex-direction: column;
  }

}