

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    margin: auto auto;

    justify-items: center;
}
/* shared styles */

.display-flex{
    display: flex;
    
}

main{
    background-image: url(../assets/bg.png);

}

.btn-primary{
    color: #ffffff;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;

}

/* hero style */

/* curriculum style */

/* stories style  */




/* footer style */
footer{
    background-color: #fdf901;
    padding: 123px 228px 174px 140px;
    gap: 172px;
}
.foot-logo{
    width: 80px;
    height: 82px;
}